<div class="w-25">
  <form #f="ngForm" (ngSubmit)="submitForm(f)" class="row g-3" >
    <div class="col-md-4">
      <label for="name" class="form-label">Name</label>
      <input  type="text" name="name" class="form-control" placeholder="Name" required ngModel #nameField="ngModel">
      <p *ngIf="nameField.touched  && nameField.invalid" class="text-danger" ><small> Campo obbligatorio</small></p>
    </div>
    <div class="col-md-4">
      <label for="gender" class="form-label">Gender</label>
      <select name="gender" id="gender" class="form-select" required ngModel #genderField="ngModel">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <p *ngIf="genderField.touched  && nameField.invalid" class="text-danger"><small> Campo obbligatorio</small></p>
    </div>
    <div class="col-md-4">
      <label for="birth" class="form-label">Date of Birth</label>
      <input type="date" name="data" id="" class="form-control" placeholder="Insert date of birth" required ngModel #dateField="ngModel">
      <p *ngIf="dateField.touched  && nameField.invalid" class="text-danger"><small> Campo obbligatorio</small></p>
    </div>
    <div class="col-md-12">
      <label for="description"  name="description "class="form-label" >Description</label>
      <textarea ngModel #descriptionField="ngModel" required name="description" class="form-control" placeholder="Insert description" id="" cols="30" rows="10"></textarea>
      <p *ngIf="descriptionField.touched  && nameField.invalid" class="text-danger"><small> Campo obbligatorio</small></p>
    </div>
    <div class="col-12">
      <button [disabled]="f.invalid" class="w-100 btn btn-primary btn-lg">Invia</button>
    </div>
    <p>Form valido: {{ f.valid }}</p>
  </form>
</div>